@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    margin: 2em;
    font-family: helvetica, verdana, arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
}

body p {
  padding: 0.8em;
}

header {
  overflow: hidden;
}

#header-pic {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

section {
  margin: 0.5em 0em;
  padding: 1em;
  border: thick solid #F24162;
}

h1, h2 {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0.2em;
}

h1 {
  position: absolute;
  margin-top: -50%;
  margin-left: 0.1em;
  font-size: 3em;
  padding: 0.7em 17.4%;
  background-color: #F24162;
  opacity: 0.9;
}

h2 {
  font-size: 2.5em;
  padding: 1em 0.5em;
}

#menu-app {
  background-color: #f2f2f2;
}

h3 {
  color: #73020C;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 0.5em;
}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33%)
}

.item {
  border: medium solid #fff;
  width: 90%;
  padding: 0.5em;
  margin: 0.5em;
  position: relative;
}

.item-pic {
  width: 95%;
  display: block;
  margin: 1em auto;

}

ul {
  margin-left: 8%;
  list-style-type: circle;
  margin-bottom: 3em;
}

.ingredients { font-weight: bold; }

.item input.check, .item label { position: absolute;}

.item input.check {
  bottom: 0.6em;
  right: 0.5em;
}

.item label {
  position: absolute;
  bottom: 0.35em;
  right: 1.7em;
}

#orderSection {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "info order";
  padding: 1em;
  background-color: #F24162;
  color: #f2f2f2;
}

#information { grid-area: info; }
#placedOrder { grid-area: order; }

a {
  color: #73020C;
  font-weight: normal;
}

a:hover { font-weight: bolder;; }

#order-button {
  padding: 1em;
  margin: 1em;
}

#order-button:hover {
  border-style: solid;
  border-width: thick;
  border-color: #0d0d0d;
  cursor: pointer;
}
